#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #1f5de2;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
}
  /* Add transition */
  transition: transform 0.3s ease-in-out;


.btn:hover {
  /* Scale the button on hover */
  transform: scale(1.2);
}